<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>

      body {
          width:100%!important;
          -webkit-text-size-adjust:100%;
          -ms-text-size-adjust:100%;
          margin:0;
          padding:0;
      }
      .full {
          width:100%;
          height:auto;
      }
  </style>
</head>

<body style="background-color:#f2f2f2">
<table style="color:#666666;font-family:Helvetica,Arial,sans-serif; border-spacing:0; background-color:#f2f2f2; padding:0 10% 0 10%" align="center">
  <tr>
    <td colspan="3" width="100%" height="21"></td>
  </tr>
  <tr>
    <td colspan="3" width="100%" height="70" bgcolor="#1282c2" style="padding:0 0 0 22px; width:100%" ><img src=<%= image_url("glooko_logo.png") %> width="100" height="53" alt=""/></td>
  </tr>
  <tr>
    <td colspan="3" width="100%" height="90" bgcolor="#ffffff" valign="top" style="padding:50px 20px 30px 20px"><span style="font-size:32px; color:#606060; font-weight:bold; text-align:left">Welcome, get started with Glooko!</span><br><br><span style="font-size:16px; color:#494949">Welcome to Glooko’s diabetes management system! Here are three steps for getting started:</span></td>
  </tr>
  <tr><td colspan="3" height="6"></td></tr>
  <tr>
    <td width="20%" height="161" align="center" bgcolor="#ffffff" style="padding:25px 10px 25px 10px">
      <img src=<%= image_url("getstarted_1.png") %> width="105" height="111" alt=""/></td>
    <td width="10%" height="172" align="right" valign="top" bgcolor="#FFFFFF" style="padding:14px 6px 25px 0"><span style="font-size:60px; font-weight:bold; color:#606060">1</span></td>
    <td width="70%" height="161" valign="top" bgcolor="#FFFFFF" style="padding:25px 20px 25px 0"><span style="font-size:20px; font-weight:bold; color:#606060; line-height:25px">Make sure you have a compatible blood glucose meter + mobile device (Android or iOS)</span><br><br><br>
      <a href="https://glooko.com/compatibility/"><img style="max-width:100%; max-height:100%" src=<%= image_url("check_compa_btn.png") %> alt=""/></a></tr>

  <tr><td colspan="3" height="6"></td></tr>

  <tr>
    <td width="20%" height="161" align="center" bgcolor="#ffffff" style="padding:25px 10px 25px 10px"><img src=<%= image_url("getstarted_2.png") %> width="102" height="106" alt=""/></td>
    <td width="10%" height="172" align="right" valign="top" bgcolor="#FFFFFF" style="padding:14px 13px 25px 0"><span style="font-size:60px; font-weight:bold; color:#606060">2</span></td>
    <td width="70%" height="161" valign="top" bgcolor="#FFFFFF" style="padding:25px 20px 25px 0"><span style="font-size:20px; font-weight:bold; color:#606060; line-height:25px">Subscribe to Glooko	</span><br><br><br>
      <a href="http://glooko.myshopify.com/"><img style="max-width:100%; max-height:100%" src=<%= image_url("get_glooko_btn.png") %> alt=""/></a></tr>

  <tr><td colspan="3" height="6"></td></tr>

  <tr>
    <td width="20%" height="171" align="center" valign="bottom" bgcolor="#ffffff" style="padding:25px 10px 0px 10px"><img src=<%= image_url("getstarted_3.png") %> width="146" height="198" alt=""/></td>
    <td width="10%" height="172" align="right" valign="top" bgcolor="#FFFFFF" style="padding:14px 13px 25px 0"><span style="font-size:60px; font-weight:bold; color:#606060">3</span></td>
    <td width="70%" height="171" valign="top" bgcolor="#FFFFFF" style="padding:25px 20px 25px 0"><span style="font-size:20px; font-weight:bold; color:#606060; line-height:25px">Sync your Blood Glucose readings</span><br><br><br>
      <a href="https://glooko.com/patients/"><img style="max-width:100%; max-height:100%" src=<%= image_url("seewhat_btn.png") %> alt=""/></a></tr>

  <tr>
    <td colspan="3" width="100%" height="177" bgcolor="#f2f2f2" valign="top" style="padding:24px 20px 30px 20px"><span style="color:#606060; font-size:12px"><i>Copyright © 2014 Glooko, All rights reserved.</i><br>
You are receiving this email because you created an account with Glooko.<br><br>

<b>Our mailing address is:</b><br>
Glooko<br>
420 Florence St<br>
Palo Alto, CA 94301</span></td>
  </tr>

</table>
</body>
</html>
